
.container-yt{
    cursor: all-scroll;
}

iframe .ytp-chrome-controls {
    display: none;
  }
  
  /* Thanks to https://getcssscan.com/css-buttons-examples  for the button css*/
  .button-24 {
    background: #ff4742;
    border: 1px solid #ff4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 30px;
    outline: 0;
    padding: 3px 7px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    margin-bottom: 0.5rem;
  }
  
  .button-24:hover,
  .button-24:active {
    background-color: initial;
    background-position: 0 0;
    color: #ff4742;
  }
  
  .button-24:active {
    opacity: 0.5;
  }
  
  .input-box {
    padding: 0.3rem 1rem;
    margin: 0 0.5rem 0.5rem 0.5rem;
    width: 19rem !important;
  }
  
  .overlay-card{
    /* position: fixed; */
    left: 5%;
    top: 15%;
    padding: .5rem;
    border-radius: .5rem;
    width: 26rem !important;
    max-width: max-content !important;
    max-height: 6rem !important;
    z-index: 999999;
  
    position: absolute;
    top: 0;
    left: 0;
    /* cursor: pointer !important; */
  }
  